html, body {
  background-color: #E9E9E9;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  mat-table {
    width: 1200px;
    max-width: 1200px;
    display: table;
    border-collapse: collapse;
    margin: 0 0 1px 0;
  }

  mat-row, mat-header-row {
    display: table-row;
  }

  mat-cell, mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}
